  <script defer src="js/modules/theme.js"></script>
  <script defer src="js/modules/i18n.js"></script>
  <script defer src="js/modules/view-transitions.js"></script>
  <script defer src="js/modules/skeletons.js"></script>
  <script defer src="js/modules/weather-icons.js"></script>
  <script defer src="js/modules/vault-crypto.js"></script>
  <script defer src="js/modules/charts.js"></script>
  <script defer src="js/modules/route-map.js"></script>
  <script defer src="js/modules/sync.js"></script>
  <script defer src="js/modules/push.js"></script>
  <script defer src="js/bootstrap.js"></script>
  <script defer src="js/app-init.js"></script>
